In [30]:
import pandas as pd
import numpy as np
df = pd.read_csv("https://raw.githubusercontent.com/lbateshaus/Ethics/main/authorsCSV.csv", dtype=str).dropna()

In [47]:
coauthor_lists = list()
distinct_authors = set()
for _, row in df.iterrows():
  coauthors = list()
  for col in ["Author1", "Author2", "Author3", "Author4", "Author5"]:
    if row[col]:
      distinct_authors.add(row[col].strip())
      coauthors.append(row[col].strip())
  coauthor_lists.append(sorted(coauthors))

In [48]:
coauthor_matrix = pd.DataFrame(index=sorted(distinct_authors), columns=sorted(distinct_authors))

In [51]:
for coauthors in coauthor_lists:
  for i in range(0, len(coauthors)):
    for j in range(i + 1, len(coauthors)):
      a1 = coauthors[i]
      a2 = coauthors[j]
      if pd.isnull(coauthor_matrix[a1][a2]):
        coauthor_matrix[a1][a2] = 1
      else:
        coauthor_matrix[a1][a2] += 1

In [52]:
coauthor_matrix.head()

,"Andersson, K.","Arias, E.","Balán, P.","Biggers, D. R.","Chong, A.","Doherty, D.","Dowling, C. M.","Ekman, J.","Farrer, B.","Fujiwara, T.",...,"Pe Lero, C.","Persson, M.","Querubín, P.","Roza, V.","Rubenson, D.","Schwam-Baird, M.","Valdivia, M.","Vega, G.","Wantchekon, L.","Zetterberg, P."
"Andersson, K.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Arias, E.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Balán, P.",NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Biggers, D. R.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Chong, A.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
coauthor_lists[2]

['Larreguy, H.']